[submodule "balena-yocto-scripts"]
	path = balena-yocto-scripts
	url = https://github.com/balena-os/balena-yocto-scripts.git
	branch = master
[submodule "layers/meta-balena"]
	path = layers/meta-balena
	url = https://github.com/balena-os/meta-balena.git
	branch = master
[submodule "layers/poky"]
	path = layers/poky
	url = https://github.com/balena-os/poky.git
	branch = kirkstone
[submodule "layers/meta-openembedded"]
	path = layers/meta-openembedded
	url = https://github.com/openembedded/meta-openembedded.git
	branch = kirkstone
[submodule "layers/meta-tegra"]
	path = layers/meta-tegra
	url = https://github.com/OE4T/meta-tegra.git
[submodule "contracts"]
	path = contracts
	url = https://github.com/balena-io/contracts.git
	branch = master
