[submodule "balena-yocto-scripts"]
	path = balena-yocto-scripts
	url = git@github.com:balena-os/balena-yocto-scripts.git
[submodule "layers/meta-balena"]
	path = layers/meta-balena
	url = git@github.com:balena-os/meta-balena.git
[submodule "layers/poky"]
	path = layers/poky
	url = git@github.com:balena-os/poky.git
[submodule "layers/meta-openembedded"]
	path = layers/meta-openembedded
	url = https://github.com/openembedded/meta-openembedded.git
[submodule "layers/meta-rust"]
	path = layers/meta-rust
	url = https://github.com/meta-rust/meta-rust.git
[submodule "layers/meta-tegra"]
	path = layers/meta-tegra
	url = https://github.com/madisongh/meta-tegra.git
